//.content {padding: 40px 15px;}
//.bigarea {height:800px; width: 100%;}
#map {height: 700px;}
.question {font-weight: bold;}
.jql {color: #999;}
.img140 {width: 140px; height: 140px;}


/* Carousel base class: override 500px height */
.carousel {
  height: 400px;
}

.transparent {
  background: rgba(0, 0, 0, 0.8);
  filter:alpha(opacity=60);
  opacity:.6;
}

.carousel-caption {
  //color: #000;
  //-webkit-text-stroke-width: 2px;
  //-webkit-text-stroke-color: #fff;
   
}

.carousel .item {
  height: 400px;
}
.carousel-inner > .item > img {
  height: 400px;
}

