/* Navbar z-floats over map elements */
.navbar > .container {
  z-index: 10;
}

/* Carousel height override */
.carousel, 
.carousel .item,
.carousel-inner > .item > img {height: 400px;}

/* Carousel background image is transparent over dark background to lower contrast */
.transparent {
  background: rgba(0, 0, 0, 0.7	);
  filter:alpha(opacity=20);
  opacity:.2;
}

/* Make caption a bit more readable with text shadow */
.carousel-caption {text-shadow: 1px 1px #000;}

/* Round images are 140px by 140px */
.img140 {
  width: 140px; 
  height: 140px;
}

/* Map container height must be set or map will be invisible */
#map {height: 700px;}

/* Trends and Metrics */
.question {font-weight: bold;}
.jql {color: #999;}

/* Spacing classes */
//.featurette {margin-bottom: 500px;}
