//.content {padding: 40px 15px;}
//.bigarea {height:800px; width: 100%;}
#map {height: 700px;}
.question {font-weight: bold;}
.jql {color: #999;}
.img140 {width: 140px; height: 140px;}


/* Carousel base class: override 500px height */
.carousel {
  height: 400px;
}

.carousel .item {
  height: 400px;
}
.carousel-inner > .item > img {
  height: 400px;
}

