<div class="row">
    <div class="col-sm-12">
        <h1>About</h1>
        <p>This portal represents the culmination of a project commenced in 2012 by the former
        Department of Environment and Conservation to update the information collected by the 2002
        Biodiversity Audit.</p>
        <p>Biodiversity Audit II is an evidence-based and expert opinion assessment of WA's
        terrestrial and marine plants and animals, threatened and priority ecological communities
        and significant wetlands in each of the State’s 53 sub-bioregions. It presents a 'snap shot'
        in time of our knowledge of the condition of and threats to the State’s biodiversity and
        changes since 2002. It also provides information on the management strategies considered
        necessary to address current threats and forecasts threats that could apply over the next 20
        years. The Biodiversity Audit II portal provides improved access to the information
        collected and the ability to search and analyse by trends at whole of State or subregional
        scales. Information can also be viewed for particular species or ecological communities.</p>
        <h2>Acknowledgements</h2>
        <p>Many thanks to Keith Claymore, Karl Brennan and Jelena May who executed the project, and
        the many, many departmental staff who contributed their time, knowledge and experience to
        create a unique repository of knowledge about the current and potential future state of
        Western Australia’s biodiversity.</p>
        <h2> Additional Resources</h2>
        <h4><a id="methodology_url" target="_" href="<%= methodology_pdf %>">Biodiversity Audit II methodology <img src="../images/pdficon_large.png"></a></h4>
        <h4><a target="_" href="http://intranet/csd/gis/Documents/IBRA%20Sub-region%20Profiles%202012%20-%20GIS%20Methods.pdf">2012 IBRA Sub-Region Profiles: Intactness, Tenure, Climate and Native Vegetation <img src="../images/pdficon_large.png"></a></h4>
    </div>

</div>
