<div class="row featurette" id="assets">

    <div class="col-md-12">
        <h2 class="featurette-heading">Biodiversity Assets <span class="text-muted"></span></h2>

        <h4>Select the type of biodiversity asset you want to search for: </h4>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs nav-fill" id="assetsTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="species_header" data-bs-toggle="tab" data-bs-target="#species_tab" type="button" role="tab" aria-controls="species_tab" aria-selected="true">
                <h4>Species</h4>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="community_header" data-bs-toggle="tab" data-bs-target="#community_tab" type="button" role="tab" aria-controls="community_tab" aria-selected="false">
                <h4>Communities</h4>
            </button>
        </li>
        <!-- <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="wetland_header" data-bs-toggle="tab" data-bs-target="#wetland_tab" type="button" role="tab" aria-controls="wetland_tab" aria-selected="false">
                <h4>Wetlands</h4>
            </button>
        </li> -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active assets-input" id="species_tab" role="tabpanel" aria-labelledby="species_header">
            <div class="row">
                <div class="col-md-8">
                    <span class="helper-text">Search for a species by starting to type in the box below.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="ui-widget">
                        <label for="species_input">Species: </label>
                        <input id="species_input" autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade assets-input" id="community_tab" role="tabpanel" aria-labelledby="community_header">
            <div class="row">
                <div class="col-md-8">
                    <span class="helper-text">Search for a community by starting to type in the box below.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="ui-widget">
                        <label for="community_input">Community: </label>
                        <input id="community_input" autofocus>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="tab-pane assets-input" id="wetland_tab">
            <div class="row">
                <div class="col-md-8">
                    <span class="helper-text">Search for a wetland by starting to type in the box below.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="ui-widget">
                        <label for="wetland_input">Wetland: </label>
                        <input id="wetland_input" autofocus>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div id="result_content">
    <div class="row vspacer-50"></div>
    <div class="row">
        <div class="col-md12">
            <div id="summary_content">
            </div>
        </div>
        <div class="row">
            <div class="col-md12">
                <div id="details_content">
                </div>
            </div>
        </div>
    </div>
</div>