<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Biodiversity Audit II &copy; Keith Claymore, Karl Brennan, Jelena May DPaW 2012-2014 with contributions
                from
                GIS section, Science and Conservation Division, and Regional Services.</p>

            <p>Biodiversity Explorer web portal &copy; 2015 Ecoinformatics Program, Science and Conservation Division,
                Department of Parks and Wildlife</p>

            <p>
                <a href="https://github.com/florianm/biodiversity-explorer">View source code (MIT license)</a>&nbsp;&middot;&nbsp;
                <a href="mailto:florian.mayer@dpaw.wa.gov.au?subject=BAE">Get in touch</a>
            </p>
        </div>
    </div>
</div>


