<div class="row">
    <div class="col-md-8">
        <h3 class="region_label"><%= REG_NAME %>: <%= SUB_CODE %></h3>
    </div>

    <div class="col-md-4 text-left">
        <h3><a href="<%= spatial_profile_url %>" target="_">Spatial Profile (PDF)</a></h3>
    </div>
</div>
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active" ><a href="#fauna" data-toggle="tab">Fauna</a></li>
    <li role="presentation"><a href="#flora" data-toggle="tab">Flora</a></li>
    <li role="presentation" class="disabled"><a href="#!">TECs & PECs</a></li>
    <li role="presentation" class="disabled"><a href="#!">Wetlands</a></li>
    <div class="tab-content">
        <div class="tab-pane active" id="fauna">
            <div class="row">
                <div class="col-md12 top-buffer">
                    <table id="fauna_summary" class="table table-bordered table-striped top-buffer"></table>
                </div>
            </div>
            <div class="row">
                <div class="col-md12">
                    <table id="fauna_details" class="table table-bordered table-striped"></table>
                </div>
            </div>
        </div>

        <div class="tab-pane active" id="flora">
            <div class="row">
                <div class="col-md12">
                    <table id="flora_summary" class="table table-bordered table-striped"></table>
                </div>
            </div>
            <div class="row">
                <div class="col-md12">
                    <table id="flora_details" class="table table-bordered table-striped"></table>
                </div>
            </div>
        </div>

    </div>
</ul>
