<div class="row featurette" id="regional">
    <h2 class="featurette-heading">Regional profiles <span class="text-muted"></span></h2>

    <p class="lead">Discover the biodiversity of terrestrial <!--and marine -->bioregions.</p>

    <div class="col-md-7">

        <p>Terrestrial biodiversity assets are summarised by IBRA subregions.</p>
        <!--p>Marine biodiversity assets are summarised by Marine Protected Areas.</p-->
        <p>Click any terrestrial region <!--or Marine Protected Area--> to access:</p>
        <ul>
            <li>A spatial profile:</li>
            <ul>
                <li>Description and characteristics of the IBRA subregion</li>
                <li>History of land degradation</li>
                <li>Decree of intactness, remnant vegetation, current status and trends</li>
                <li>Tenure and land uses, current status and trends</li>
                <li>Past, present and projected climate</li>
            </ul>
            <li>Interactive data portals to view and filter:</li>
            <ul>
                <li>Threatened and priority species (Fauna and Flora)</li>
                <li>Threatened and priority ecological communities</li>
                <li>Wetlands</li>
            </ul>
        </ul>

    </div>
    <div class="col-md-5">
        <div id="map"></div>
    </div>
</div>
