<div class="row featurette" id="regional">

    <div class="col-md-12">
        <h2 class="featurette-heading">Species <span class="text-muted"></span></h2>

        <p class="lead">Search for a Species (Taxon)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="ui-widget">
            <label for="fauna_species">Fauna: </label>
            <input id="fauna_species">
        </div>
    </div>
    <div class="col-md-6">
        <div class="ui-widget">
            <label for="flora_species">Flora: </label>
            <input id="flora_species">
        </div>
    </div>
</div>

<div id="taxonTab">
    <div class="row">
        <div class="col-md12 top-buffer">
            <div id="summary_content">
            </div>
        </div>
        <div class="row">
            <div class="col-md12">
                <div id="details_content">
                </div>
            </div>
        </div>
    </div>
</div>


