<h2 class="featurette-heading">Trends &amp; Metrics <span class="text-muted"></span></h2>
`
<p class="lead">Explore trends and metrics of biodiversity assets.</p>
<p>This section answers <a target="_" title="Open questions in a new tab"
                           href="http://internal-data.dpaw.wa.gov.au/dataset/c8ad25ff-69dc-4d13-ac32-60c9b99548ee/resource/f64cc2d0-ba5f-48dd-87d9-467d766154d6/download/Biodiversity-Audit-II-State-and-subregion-analysis-questions-consolidate-4-December-2014.pdf">frequently asked management questions</a>.
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingQ59">
            <h4 class="panel-title">
                <a class="question" data-toggle="collapse" data-parent="#accordion" href="#collapseQ59" aria-expanded="false"
                   aria-controls="collapseQ59">
                    How many extant Fauna taxa exist in each IBRA subregion per conservation category (CR, EN, VU)?
                </a>
                <small class="pull-right text-muted">Q 59</small>
            </h4>
        </div>
        <div id="collapseQ59" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingQ59">
            <div class="panel-body">

                <h3>Fauna Summary</h3>
                <p class="jql">Type any IBRA subregion code into the filter to narrow down results.</p>
                <div class="answer" id="a59_summary">
                    <table id="table_q59_summary"></table>
                </div>

                <h3>Fauna Details</h3>
                <p class="jql">Type any IBRA subregion code, scientific or common name into the filter to narrow down results.</p>
                <div class="answer" id="a59_detail">
                    <table id="table_q59_details"></table>
                </div>

            </div>
        </div>
    </div>
</div>