<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            Past:<%= pastCount %>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
            Future:<%= futureCount %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <a id="threats_<%= species %>">details</a>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="col-xs-12 text-center">-->
<!--<a id="threats_<%= species %>">details</a>-->
<!--</div>-->
<!--</div>-->