<div class="row">
    <div class="col-md-8">
        <h3 class="region_label"><%= REG_NAME %>: <%= SUB_CODE %></h3>
    </div>

    <div class="col-md-4 text-left">
        <h3>
            <a id="spatial_profile_url"
                href="<%= spatial_profile_url %>"
                target="_"
                title="Click to display a regional profile">
                Spatial Profile <img src="../images/pdficon_large.png">
            </a>
        </h3>
    </div>
</div>
<ul class="nav nav-tabs nav-fill" id="detailsTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="fauna_header" data-bs-toggle="tab" data-bs-target="#faunaTab" type="button" role="tab" aria-controls="faunaTab" aria-selected="true">Fauna</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="flora_header" data-bs-toggle="tab" data-bs-target="#floraTab" type="button" role="tab" aria-controls="floraTab" aria-selected="false">Flora</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="community_header" data-bs-toggle="tab" data-bs-target="#communitiesTab" type="button" role="tab" aria-controls="communitiesTab" aria-selected="false">Communities</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link disabled" id="wetland_header" data-bs-toggle="tab" data-bs-target="#wetlandsTab" type="button" role="tab" aria-controls="wetlandsTab" aria-selected="false">Wetlands</button>
    </li> -->
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="faunaTab" role="tabpanel" aria-labelledby="fauna_header">
        <div class="row">
            <div class="col-md-12 top-buffer-20">
                <div id="summary_content">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="details_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="floraTab" role="tabpanel" aria-labelledby="flora_header">
        <div class="row">
            <div class="col-md-12 top-buffer-20">
                <div id="summary_content">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="details_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="communitiesTab" role="tabpanel" aria-labelledby="community_header">
        <div class="row">
            <div class="col-md-12 top-buffer-20">
                <div id="summary_content">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="details_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="tab-pane" id="wetlandsTab">
        <div class="row">
            <div class="col-md12 top-buffer-20">
                <div id="summary_content">
                </div>
            </div>
            <div class="row">
                <div class="col-md12">
                    <div id="details_content">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
