<div
	style="
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
		display: flex !important;
		flex-direction: column !important;
	"
>
	<div
		style="
			display: flex !important;
            gap: 10px;
			{% comment %} justify-content: space-between !important; {% endcomment %}
			width: 100% !important;
			margin-bottom: 5px !important;
		"
	>
		<span>Past:&nbsp<%= pastCount %></span>
		<span>Future:&nbsp<%= futureCount %></span>
	</div>
	<div
		style="
			width: 100% !important;
			text-align: left !important;
			display: block !important;
			margin-top: 3px !important;
		"
	>
		<a
			id="threats_<%= id %>"
			style="
				display: inline-block !important;
				color: #0d6efd !important;
				text-decoration: none !important;
				cursor: pointer !important;
			"
			>details</a
		>
	</div>
</div>
