<div class="table-responsive">
    <table id="summary_table_<%= id %>" class="table table-bordered table-sm">
        <thead class="table-light">
        <tr>
            <th class="align-middle">Past Pressures and Future Threats</th>
            <th colspan="2" class="text-center">Threatened Flora</th>
            <th colspan="2" class="text-center">Threatened Fauna</th>
            <th colspan="2" class="text-center">Threatened Ecological Communities</th>
        </tr>
        <tr>
            <th class="align-middle">Pressure/threat category</th>
            <th class="text-center">Past pressure (2002-2013)</th>
            <th class="text-center">Future threat (2013 to 2033)</th>
            <th class="text-center">Past pressure (2002-2013)</th>
            <th class="text-center">Future threat (2013 to 2033)</th>
            <th class="text-center">Past pressure (2002-2013)</th>
            <th class="text-center">Future threat (2013 to 2033)</th>
        </tr>
        </thead>
    </table>
</div>
