<div class="table-responsive">
    <table id="summary_table_<%= id %>" class="table table-bordered table-sm">
        <thead class="table-light">
        <tr>
            <th class="align-middle">Research and Conservation Planning Needs</th>
            <th colspan="2" class="text-center">Threatened Flora</th>
            <th colspan="2" class="text-center">Threatened Fauna</th>
            <th colspan="2" class="text-center">Threatened Ecological Communities</th>
            <th colspan="2" class="text-center">Wetlands</th>
        </tr>
        <tr>
            <th class="align-middle">Category</th>
            <th class="text-center">Research</th>
            <th class="text-center">Conservation Planning</th>
            <th class="text-center">Research</th>
            <th class="text-center">Conservation Planning</th>
            <th class="text-center">Research</th>
            <th class="text-center">Conservation Planning</th>
            <th class="text-center">Research</th>
            <th class="text-center">Conservation Planning</th>
        </tr>
        </thead>
    </table>
</div>
